---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[如何:]发布和分析测试结果？ | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System 使你可以在项目的代码质量的图表会发生更改，随着项目。 此视频将说明了如何 publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 04/06/2018
ms.locfileid: "30894891"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="44fa3-105">[如何:]发布和分析测试结果？</span><span class="sxs-lookup"><span data-stu-id="44fa3-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="44fa3-106">通过[Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="44fa3-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="44fa3-107">Visual Studio Team System 使你可以在项目的代码质量的图表会发生更改，随着项目。</span><span class="sxs-lookup"><span data-stu-id="44fa3-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="44fa3-108">此视频将说明了如何将测试结果发布到 Team Foundation Server 项目数据库并将结果与生成号相关联。</span><span class="sxs-lookup"><span data-stu-id="44fa3-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="44fa3-109">我们可以看到发布的结果后我们可以使用报表管理器在我们生成的测试结果中查看的图形表示形式的更改。</span><span class="sxs-lookup"><span data-stu-id="44fa3-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="44fa3-110">&#9654;观看视频 （7 分钟）</span><span class="sxs-lookup"><span data-stu-id="44fa3-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="44fa3-111">[上一页](how-do-i-use-generic-tests.md)
> [下一页](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="44fa3-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
