---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[如何实现:]发布和分析测试结果？ | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System 使你可以在项目的代码质量的图表会发生更改，随着项目进度。 此视频将说明了如何 publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 2beeac7c4d8157787a156af03a42f9c1f7dbbd17
ms.sourcegitcommit: 953ff9ea4369f154d6fd0239599279ddd3280009
ms.translationtype: MT
ms.contentlocale: zh-CN
ms.lasthandoff: 07/03/2018
ms.locfileid: "37379510"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[如何实现:]发布和分析测试结果？
====================
通过[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System 使你可以在项目的代码质量的图表会发生更改，随着项目进度。 此视频提供了有关如何将测试结果发布到 Team Foundation Server 项目数据库并将结果与生成号关联的说明。 我们看到的结果被发布后我们可以使用报表管理器在我们生成的测试结果中查看更改的图形表示形式。

[&#9654;观看视频 （7 分钟为单位）](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [上一页](how-do-i-use-generic-tests.md)
> [下一页](how-do-i-discover-application-changes-prior-to-deployment.md)
